aside { 
   height: 100%;
   background-color: var(--red);
   padding: 3vh 2.2vw;
}

ul {
   position: sticky;
   top: 8rem;
}

li {
   color: #fff;
   font-size: 1.3rem;
   font-weight: bold;
   letter-spacing: .02rem;
   padding: 1vh .2rem 1vh 0;
   text-transform: capitalize;
   cursor: pointer;
}