footer {
   background-color: #333;
   color: #eee;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 7vh 2.2vw;
}

picture {
   width: 10%;

   img {
      display: block;
      border-radius: 6%;
      width: 100%;
   }
}

ul {
   padding-top: 1rem;
   align-self: flex-start;

   li { border: px solid silver;
      padding: .5rem 1rem;
      cursor: pointer;
   }
}