header { border: px solid dodgerblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eee;
   padding: 3vh 3vw 3vh 2.2vw;
}

picture { border: px solid red;
   
   img {border: px solid pink;
      display: block;
      width: 100%;
      // transform: translate(-0.8rem, .3rem);
   }
}

ul {
   display: flex;
}

li { border: px solid dodgerblue;
   padding: 1.2vh 1vw;
   font-size: 1.3rem;
   text-align: center;
   text-transform: capitalize;
   cursor: pointer;
}