:root {
  --white: #ffffff;
  --light-grey: #fafafa;
  --background: #f0f0f5;
  --grey: #ededed;
  --dark-grey: #b0b5d3;
  --blue: #3adcff;
  --darker-blue: #36bddd;
  --green: #36d68b;
  --red: #c21a1a;
  --black: #142230;
}