:root {
   --white: #fff;
   --light-grey: #f7f8f9;
   --grey: #ededed;
   --dark-grey: #b0b5d3;
   --blue: #3adcff;
   --darker-blue: #36bddd;
   --green: #36d68b;
   --red: #ef3a54;
   --black: #142230;
   --background: #f0f0f5;
 }