section {
   position: relative;
   padding: 4vh 6vw 6vh;
}

h2 {
   margin-bottom: 2vh;
}

time {
   position: absolute;
   top: 5.4vh;
   right: 6vw;
   font-size: .7rem;
   font-weight: 600;
}

p {
   color: #222;
   font-size: 1.1rem;
   line-height: 1.5;
   text-align: justify;
}