table {
   border: px solid rebeccapurple;
   margin: 2rem auto;
   font-size: 1.1rem;

   

   tr {

      &:nth-of-type(even) {
         background-color: #eee;
      }
   
      &:nth-of-type(odd) {
         background-color: #ddd;
      }
   }

   th,
   td {
      border: px solid rebeccapurple;
      padding: .6vh 1vw;
   }

   th {
      text-align: left;
      font-style: italic;
      text-decoration: underline;
   }

   td img {
      display: block;
      width: 4rem;
      transform: rotate(17.5deg);
   }

}