@import 'assets/fonts/fonts.scss';
@import 'styles/variables.scss';
@import 'styles/classes.scss';
@import 'styles/typography.scss';

/*#region RESET*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

body {
   overflow-x: hidden;
   background-color: #fafafa;
}

a {
   color: unset;
   text-decoration: none;
}

ul {
   list-style: none;
}

input,
fieldset {
   outline: 0;
   border: 0;
   background-color: unset;
}

table {
   border-collapse: collapse;
}

picture {
   display: block;
}

picture img {
   display: block;
   width: 100%;
   height: auto;
}

small {
   font-size: .875rem;
   font-weight: 900;
}

/*#endregion RESET*/


/*#region GLOBAL STYLES*/
app-root {
   min-height: 100vh;
   display: grid;
   grid-template-columns: max-content 1fr;
   grid-template-rows: auto 1fr auto;

   app-header,
   app-footer {
      grid-column: 1 / span 2;
   }

   app-header {
      z-index: 2;
      position: sticky;
      top: 0;
      align-self: start;
   }
}

main {
   padding: 7vh 10vw 7vh 8vw;

   &>table {
      margin: 0 auto;
   }
}

/*#endregion GLOBAL STYLES*/